*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e7e7e7;
}
header{
    background-color: #ffffff;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.app-title{
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}
.app-logo{
    vertical-align: middle;
}
.container{
    background-color: #ffffff;
    max-width: 1100px;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
}
nav{
    padding-top: 15px;
    padding-bottom: 10px;
}
.bt{
    margin-left: 50px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(44, 148, 233);
    color: #ffffff;
    border-color: rgb(44, 148, 233);
    border-width: 1px;
}
.bt2{
    border-radius: 5px;
    padding: 5px;
    background-color: #ffffff;
    color: #e7e7e7;
    border-color: #e7e7e7;
    border-width: 1px;
}
hr{
    color: #e7e7e7;
}
section{
    margin-left: 50px;
    padding-top: 25px;
}
.to-does{
    padding-top: 5px;
    padding-bottom: 5px;
}
h2{
    font-weight: bold;
}
.circle{
    display: inline-block;
    border: 1px solid black;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    text-align: center;
    line-height: 15px;
}
.circle-done{
    border-color: green;
    color: green;
    display: inline-block;
}
.circle-wrong{
    border-color: red;
    color: red;
}
.nomi{
    font-size: 20px;
    font-weight: 500;
}
.tag{
    border-radius: 16px;
    padding: 6px 10px;
    display: inline-block;
    color: #ffffff;
    background-color: rgb(44, 148, 233);
}
.tag-blue{
    background-color: rgb(44, 148, 233);
}
.tag-purple{
    background-color: purple;
}
.tag-green{
    background-color: rgb(51, 122, 89);
}
.tag-orange{
    background-color: orange;
}
.tag-pink{
    background-color: rgb(168, 21, 102);
}
.tag-lightgreen{
    background-color: rgb(146, 216, 33);
}