*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e7e7e7;
}
header{
    background-color: #ffffff;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.app-title{
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}
.app-logo{
    vertical-align: middle;
}
.container{
    background-color: #ffffff;
    max-width: 1100px;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
}
.bt{
    margin-left: 50px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(44, 148, 233);
    color: #ffffff;
    border-color: rgb(44, 148, 233);
    border-width: 1px;
}
.bt2{
    border-radius: 5px;
    padding: 5px;
    background-color: #ffffff;
    color: #e7e7e7;
    border-color: #e7e7e7;
    border-width: 1px;
}
hr{
    color: #e7e7e7;
}
